<div class="container">
    <h1>Home Page</h1>
    <p>You can read more about ProgrammerCafe, or checkout the blog.</p>
    <%= link_to "About ProgrammerCafe", about_path, class:"btn btn-secondary" %>
    <%= link_to "Blog", posts_path, class:"btn btn-primary" %>
</div>